# Make sure to place a "." in front of the file when used.

# The absolute path to the SQLite index file.
INDEX_DB_PATH="/path/to/your/arxiv_index.db"

# The absolute path to the directory containing the .tar archives.
TAR_DIR_PATH="/path/to/your/arxiv/tar/files/"
